mixin Button({spaceBetween, justify, type, size, color, loading, expand, text, disabled, onlyIcon, iconRight})
	- const baseClass = 'iq-btn'
	- const typeClass = !!type ? `${baseClass}--type-${type}` : ''
	- const sizeClass = !!size ? `${baseClass}--size-${size}` : ''
	- const expandClass = !!expand ? `${baseClass}--expand-${expand}` : ''
	- const colorClass = !!color && color !== "default" ? `${baseClass}--color-${color}` : ''
	- const justifyClass = !!justify ? `iq-btn--justify-${justify}` : ''
	- const disabledClass = !!disabled ? `${baseClass}--disabled` : ''
	- const loadingClass = !!loading ? `${baseClass}--loading` : ''
	- const iconPosition = !!iconRight && !onlyIcon ? 'iq-btn--icn-right' : ''
	- const roundOnlyIcon = !!onlyIcon ? 'iq-btn--only-icon' : ''
	- const spaceBetweenClass = !!spaceBetween && !loading ? 'iq-btn--space-between' : '' // deprecated
	button(
		class=baseClass
		class=typeClass
		class=sizeClass
		class=expandClass
		class=colorClass
		class=disabledClass
		class=loadingClass
		class=iconPosition
		class=onlyIcon
		class=spaceBetweenClass
		class=justifyClass
	)&attributes( attributes )
		span.iq-btn__text #{text}
		if loading
			div.iq-btn__loading-overlay
				div.iq-btn__loading-spinner

		if block
			block

