mixin Grid({prototyping, fluid})
	- const baseClass = 'iq-grid'
	- const protoClass = !!prototyping ? `${baseClass}--prototyping` : ''
	- const fluidClass = !!fluid ? `${baseClass}--fluid` : ''
	div(
		class=baseClass
		class=protoClass
		class=fluidClass
	)
		if block
			block

