include ../../icons/FilledError.pug

mixin CheckboxField({label = "Checkbox", rules = {}, required, disabled} = {})
	- const { id, name } = attributes
	- const invalidDefaultClass = 'iq-checkbox-field--invalid'
	- const requiredClass = !!required ? 'iq-checkbox-field--required': ''
	- const jailsIsInvalid = `errors.${name}?'${invalidDefaultClass}':''`
	- const disabledClass = !!required ? 'iq-checkbox-field--disabled': ''
	- const jsonRules = JSON.stringify(rules).replace(/"/g, '\'')
	- const invalidClass = !!invalid ? invalidDefaultClass : ""
	.iq-checkbox-field(
		class=requiredClass
		class=disabledClass
		class=invalidClass
		v-class=jailsIsInvalid
	)
		label(
			for=id
			class='iq-checkbox-field__holder'
		)
			input(
				type='checkbox'
				class='iq-checkbox-field__input'
				data-rules=jsonRules
				data-static
			)&attributes( attributes )
			span.iq-checkbox-field__icon
			span.iq-checkbox-field__label #{label}
				.iq-checkbox-field__required-star #{' *'}
		.iq-checkbox-field__invalid-holder
			.iq-checkbox-field__invalid-icon-holder
				+FilledError()
			.span Este campo é obrigatório
