mixin H3({type})
	- const baseClass = 'iq-h3'
	- const typeClass = !!type ? `${baseClass}--${type}` : `${baseClass}--primary`
	- const defaultTitle = 'Heading Three'
	h3(
		class=baseClass
		class=typeClass
	)
		if block
			block
		else
			span #{defaultTitle}
