mixin H4({type})
	- const baseClass = 'iq-h4'
	- const typeClass = !!type ? `${baseClass}--${type}` : `${baseClass}--primary`
	- const defaultTitle = 'Heading Four'
	h4(
		class=baseClass
		class=typeClass
	)
		if block
			block
		else
			span #{defaultTitle}
