include ../FieldBase/index.pug
include ../../icons/OutlineAngleDownMini.pug

mixin SelectField({type, rules = {}, optional, items = [], invalid, customClass, required, errorMessage, label})
	- const { name, placeholder, value, defaultvalue = "", disabled } = attributes
	- const baseClass = "iq-select-field"

	- const jsonRules = JSON.stringify(rules).replace(/"/g, '\'')
	- const safeLabel = !!label ? label : "Select Label"
	- const safePlaceholder = !!placeholder ? placeholder : "Select placeholder"
	- const invalidDefaultClass = "iq-select-field--invalid"
	- const jailsIsInvalid = `errors.${name}?'${invalidDefaultClass}':''`
	- const invalidClass = !!invalid ? invalidDefaultClass : ""
	- const disabledClass = !!disabled ? "iq-select-field--disabled" : ""

	div(
		class=baseClass
		class=invalidClass
		class=disabledClass
		class=customClass
		v-class=jailsIsInvalid
		id="iq-select-wrapper"
	)
		+FieldBase({rules: rules, errorMessage: errorMessage, label: safeLabel, required: required, name: name, optional: optional})
			.iq-select-field__select-holder
				select(
					class='iq-select-field__input'
					id="iq-select-field"
					disabled=disabled
					defaultvalue=defaultvalue
					data-rules=jsonRules
					data-static
				)&attributes( attributes )
					option(
						disabled
						selected
						value=""
					) #{safePlaceholder}
					each item in items
						option(
							class="iq-select-field__option"
							value=item.value
						) #{item.label}
				.iq-select-field__icon-holder
					+OutlineAngleDownMini()



