mixin SocialIcons()
	.footer-classic__social-icons
		p.footer-classic__social-icons-title Siga a gente
		.footer-classic__social-icons-box
			+SocialLink({title: "Curta nossa página no Facebook", href:"https://www.facebook.com/iqcontas/"})
				svg#ic-facebook(
					viewbox="0 0 27 27"
					xmlns="http://www.w3.org/2000/svg"
				)
					path(
						d="M23 3.834C23 1.819 21.181 0 19.167 0H3.833C1.82 0 0 1.82 0 3.834v15.332C0 21.181 1.819 23 3.834 23H11.5v-8.689H8.689v-3.833H11.5V8.984c0-2.575 1.934-4.895 4.313-4.895h3.098v3.833h-3.099c-.339 0-.734.412-.734 1.029v1.527h3.833v3.833h-3.833V23h4.089C21.18 23 23 21.18 23 19.166V3.834z"
						fill="currentColor"
						fill-rule="nonzero"
					)

			+SocialLink({title: "Siga nossa página no Instagram", href:"https://www.instagram.com/iqbrasil/"})
				svg#ic-instagram(
					viewbox="0 0 27 27"
					xmlns="http://www.w3.org/2000/svg"
				)
					path(
						d="M23.928 7.053a8.808 8.808 0 0 0-.557-2.913 5.883 5.883 0 0 0-1.386-2.125A5.883 5.883 0 0 0 19.86.629a8.808 8.808 0 0 0-2.912-.557C15.667.013 15.258 0 12 0 8.741 0 8.333.013 7.053.072c-.995.02-1.98.208-2.913.557a5.883 5.883 0 0 0-2.127 1.386A5.883 5.883 0 0 0 .628 4.14a8.808 8.808 0 0 0-.557 2.912C.013 8.333 0 8.742 0 12c0 3.259.013 3.667.072 4.947.02.995.208 1.98.557 2.913.302.8.775 1.526 1.386 2.125.599.611 1.324 1.084 2.125 1.386a8.808 8.808 0 0 0 2.912.557C8.333 23.987 8.742 24 12 24c3.259 0 3.667-.013 4.947-.072a8.808 8.808 0 0 0 2.913-.557 6.136 6.136 0 0 0 3.51-3.511 8.808 8.808 0 0 0 .558-2.912c.059-1.281.072-1.69.072-4.948 0-3.259-.013-3.667-.072-4.947zm-2.16 9.796a6.637 6.637 0 0 1-.413 2.227 3.973 3.973 0 0 1-2.278 2.279 6.639 6.639 0 0 1-2.228.413c-1.266.057-1.645.07-4.849.07s-3.584-.013-4.85-.07a6.639 6.639 0 0 1-2.226-.413 3.717 3.717 0 0 1-1.381-.898 3.717 3.717 0 0 1-.898-1.38 6.637 6.637 0 0 1-.413-2.228c-.057-1.266-.07-1.645-.07-4.849s.013-3.584.07-4.85c.01-.76.149-1.513.413-2.226.192-.522.499-.994.898-1.381a3.717 3.717 0 0 1 1.38-.898 6.639 6.639 0 0 1 2.228-.413c1.266-.057 1.645-.07 4.849-.07s3.584.013 4.85.07c.76.01 1.513.149 2.226.413.522.192.994.499 1.381.898.399.387.705.858.898 1.38.264.713.404 1.467.413 2.228.057 1.266.07 1.645.07 4.849s-.013 3.584-.07 4.85zM12 5.837a6.163 6.163 0 1 0 0 12.326 6.163 6.163 0 0 0 0-12.326zM12 16a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm7.845-10.405a1.44 1.44 0 1 1-2.88 0 1.44 1.44 0 0 1 2.88 0z"
						fill="currentColor"
						fill-rule="nonzero"
					)

			+SocialLink({title: "Acompanhe os vídeos em nosso canal no Youtube", href:"https://www.youtube.com/channel/UC9aMCgvaLRijZ1rddTKSxYA"})
				svg#ic-youtube(
					viewbox="0 0 29 23"
					xmlns="http://www.w3.org/2000/svg"
				)
					path(
						d="M14.414 0C.248 0 0 1.282 0 11.292c0 10.011.248 11.293 14.414 11.293 14.167 0 14.415-1.282 14.415-11.293C28.829 1.282 28.58 0 14.414 0zm4.62 11.782l-6.472 3.074c-.566.267-1.03-.032-1.03-.669v-5.79c0-.635.464-.935 1.03-.668l6.472 3.074c.567.27.567.71 0 .98z"
						fill="currentColor"
						fill-rule="nonzero"
					)

			+SocialLink({title: "Acompanhe nossa página no LinkedIn", href:"https://www.linkedin.com/company/iq360/"})
				svg#ic-linkedin(
					viewBox="0 0 148 148"
					xmlns="http://www.w3.org/2000/svg"
				)
					path(
						d="M133.2 0H14.8C6.66 0 0 6.66 0 14.8V133.2C0 141.34 6.66 148 14.8 148H133.2C141.34 148 148 141.34 148 133.2V14.8C148 6.66 141.34 0 133.2 0ZM44.4 125.8H22.2V59.2H44.4V125.8ZM33.3 46.62C25.9 46.62 19.98 40.7 19.98 33.3C19.98 25.9 25.9 19.98 33.3 19.98C40.7 19.98 46.62 25.9 46.62 33.3C46.62 40.7 40.7 46.62 33.3 46.62ZM125.8 125.8H103.6V86.58C103.6 80.6603 98.42 75.48 92.5 75.48C86.58 75.48 81.4 80.6603 81.4 86.58V125.8H59.2V59.2H81.4V68.08C85.1 62.16 93.24 57.72 99.9 57.72C113.96 57.72 125.8 69.56 125.8 83.62V125.8Z"
						fill="currentColor"
						fill-rule="nonzero"
					)
			+SocialLink({title: "Veja nossos vídeos no Tiktok", href:"https://www.tiktok.com/@iqbrasil"})
				svg#ic-tiktok(
					viewBox="0 0 131 149"
					xmlns="http://www.w3.org/2000/svg"
				)
					path(
						d="M129.966 37.0588C121.506 37.0588 113.7 34.2563 107.432 29.5284C100.243 24.1085 95.0783 16.1582 93.2543 6.99485C92.8026 4.73079 92.5594 2.39435 92.5363 0H68.3699V66.0342L68.3409 102.204C68.3409 111.874 62.0438 120.073 53.3147 122.957C50.7814 123.794 48.0454 124.191 45.1965 124.034C41.5601 123.834 38.1524 122.737 35.1906 120.965C28.8877 117.196 24.6144 110.357 24.4986 102.534C24.3162 90.3077 34.2005 80.3395 46.4183 80.3395C48.83 80.3395 51.1462 80.7332 53.3147 81.4484V63.3996V56.9114C51.0275 56.5726 48.6997 56.396 46.3459 56.396C32.9729 56.396 20.4655 61.9548 11.5251 71.9694C4.76765 79.5375 0.714336 89.1931 0.0889684 99.3177C-0.730379 112.618 4.13649 125.262 13.5749 134.59C14.9617 135.96 16.418 137.231 17.9409 138.403C26.033 144.631 35.926 148.007 46.3459 148.007C48.6997 148.007 51.0275 147.833 53.3147 147.494C63.0485 146.052 72.0294 141.597 79.1169 134.59C87.8258 125.983 92.6376 114.555 92.6897 102.392L92.5652 48.3791C96.7199 51.5842 101.262 54.2362 106.138 56.2947C113.721 59.4939 121.761 61.1152 130.035 61.1123V43.5644V37.053C130.041 37.0588 129.971 37.0588 129.966 37.0588V37.0588Z"
						fill="currentColor"
						fill-rule="nonzero"
					)


mixin SocialLink({title, href})
	a.footer-classic__social-icon(
		target="_blank"
		rel="noopener"
		title=title
		href=href
	)
		if block
			block

