
mixin FlexGridSpanColumns({phone, tablet, desktop, phablet, all} = {})
	- const baseClass = 'iq-flex-grid__span'
	- // On breakpoint variables, the values can be the number of columns, "half", "full" or "hide"
	- const phoneSize = !!phone ? phone : all ? all : false
	- const phabletSize = !!phablet ? phablet : all ? all : false
	- const tabletSize = !!tablet ? tablet : all ? all : false
	- const desktopSize = !!desktop ? desktop : all ? all : false

	- const phoneClass = !!phoneSize ? `${baseClass}--phone-${phoneSize}` : ''
	- const phabletClass = !!phabletSize ? `${baseClass}--phablet-${phabletSize}` : ''
	- const tabletClass = !!tabletSize ? `${baseClass}--tablet-${tabletSize}` : ''
	- const desktopClass = !!desktopSize ? `${baseClass}--desktop-${desktopSize}` : ''
	div(
		class=baseClass
		class=phoneClass
		class=tabletClass
		class=desktopClass
		class=phabletClass
	)
		if block
			block
